html {
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.prr-escondida {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.perfil {
    padding: 5rem 0;
    margin-top: -40px;
}

.perfil::after {
    content: "";
    display: block;
    clear: both;
}

.perfil-foto {
    float: left;
    width: calc(33.33% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.perfil-foto img {
    border-radius: 50%;
}

.perfil-config,
.profile-stats,
.perfil-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.perfil-config {
    margin-top: 1.1rem;
}

.perfil-user {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.perfil-edit {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.perfil-status {
    margin-top: 6rem;
}

.perfil-status li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.perfil-status li:last-of-type {
    margin-right: 0;
}

.perfil-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.perfil-nome,
.perfil-status-cont,
.profile-edit-btn {
    font-weight: 600;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

.galeria-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.galeria-item:hover .galeria-info,
.galeria-item:focus .galeria-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.3);
}

.galeria-info {
    display: none;
}

.galeria-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.likes {
    margin-right: 50%;
    font-size: small;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.galeria-foto {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.volta {
    margin-left: 25px;
    margin-top: 10px;
    text-align: left;
    position: relative;
    justify-content: left;
    text-decoration: none;
}

.back {
    text-decoration: none;
}

.btn-settings {
    text-decoration: none;
    font-size: 25px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 550px;
    margin-bottom: -50px;
    margin-top: -90px;
}

.settings {
    margin-top: 40px;
    margin-bottom: -164px;
    margin-left: 300px;
    position: relative;
    bottom: 66px;
    
}

.perfil-follow {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #5483e1;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 30px;
    background-color: #5483e1;
    color: #ffffff;
    cursor: pointer;
}

.verificado {
    width: 15px;
    height: 15px;
    background-color: #3897f0;
    border-radius: 50%;
    display: flex;
    margin-left: 22%;
    margin-top: -4.3%;
  }
  
  .verificado::before {
    content: "\2713";
    font-size: 10px;
    color: white;
  }

  .perfil-config {
    justify-content: space-between;
  }